<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>India Agriculture Crop Production Analysis(1197-2021)</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
                    <li><a class="nav-link scrollto" href="#about">DASHBOARD-1</a></li>
          <li><a class="nav-link scrollto" href="#services">DASHBOARD-2</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">STORY</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>    
            <ul>
             
              
          </li>
          
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Crop Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">India Agriculture Crop Production Analysis (1197-2021)</h1>
      
          <div data-aos="fade-up" data-aos-delay="800">
            
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="static/assets/img/crop.jpg" class="img-fluid animated" alt="" >
        </div>
      </div>
    </div>

  </section><!-- End Crop -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Dash Board 1 ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>DASHBOARD-1</h2>
        </div>
            <div class='tableauPlaceholder' id='viz1713858540119' style='position: relative'>
              <noscript>
                <a href='#'>
                  <img alt='INDIA AGRICULTURE CROP PRODUCTION ANALYSIS (1197-2021) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DA&#47;DASHBOARD-11_17138570643440&#47;Dashboard-1&#47;1_rss.png' style='border: none' />
                </a>
              </noscript>
              <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                 <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                 <param name='name' value='DASHBOARD-11_17138570643440&#47;Dashboard-1' />
                 <param name='tabs' value='no' />
                 <param name='toolbar' value='yes' />
                 <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DA&#47;DASHBOARD-11_17138570643440&#47;Dashboard-1&#47;1.png' />
                  <param name='animate_transition' value='yes' />
                  <param name='display_static_image' value='yes' />
                  <param name='display_spinner' value='yes' />
                  <param name='display_overlay' value='yes' />
                  <param name='display_count' value='yes' />
                  <param name='language' value='en-US' />
                </object>
              </div>                
              <script type='text/javascript'>   
                               var divElement = document.getElementById('viz1713858540119');          
                               
                               var vizElement = divElement.getElementsByTagName('object')[0];                 
                                  if ( divElement.offsetWidth > 800 )
                                   { vizElement.style.width='1169px';vizElement.style.height='854px'
                                   ;} 
                                   else if ( divElement.offsetWidth > 500 )
                                    {
                                       vizElement.style.width='1169px';vizElement.style.height='854px';
                                       } 
                                       else 
                                       {
                                         vizElement.style.width='100%';vizElement.style.height='1277px';
                                         }                     var scriptElement = document.createElement('script');      
                                                       scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';    
                                                                       vizElement.parentNode.insertBefore(scriptElement, vizElement); 
                                                                                      </script>
                                                                                  </div>
    </section><!-- Dash Board 1-->

    <!-- ======= Dash Board 2 ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>DASHBOARD-2</h2>
         
        </div>
        <div class='tableauPlaceholder' id='viz1713859265125' style='position: relative'>
          <noscript>
            <a href='#'>
              <img alt='INDIA AGRICULTURE CROP PRODUCTION ANALYSIS (1197-2021) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DA&#47;DASHBOARD-22_17138503309390&#47;Dashboard-2&#47;1_rss.png' style='border: none' />
            </a>
          </noscript>
          <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
             <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
             <param name='name' value='DASHBOARD-22_17138503309390&#47;Dashboard-2' />
             <param name='tabs' value='no' /><param name='toolbar' value='yes' />
             <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;DA&#47;DASHBOARD-22_17138503309390&#47;Dashboard-2&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object>
          </div>            
              <script type='text/javascript'>    
                              var divElement = document.getElementById('viz1713859265125');     
                                             var vizElement = divElement.getElementsByTagName('object')[0];          
                                                       if ( divElement.offsetWidth > 800 ) 
                                                       { 
                                                        vizElement.style.width='1169px';vizElement.style.height='854px';
                                                        }
                                                         else if ( divElement.offsetWidth > 500 )
                                                          { 
                                                            vizElement.style.width='1169px';vizElement.style.height='854px';
                                                            } 
                                                            else 
                                                            { 
                                                              vizElement.style.width='100%';vizElement.style.height='1227px';
                                                              }                   
                                                                var scriptElement = document.createElement('script'); 
                                                                                   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';   
                                                                                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);   
                                                                                                                 </script>
                                                                                                                 </div>
    </section><!-- End Dash Board 2 -->
    <!-- ======= Story Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>STORY</h2>
            </div>

            <div class='tableauPlaceholder' id='viz1713863684961' style='position: relative'>
              <noscript>
                <a href='#'><img alt='INDIA AGRICULTURE CROP PRODUCTION ANALYSIS (1197-2021) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ST&#47;STORY-1_17138502722950&#47;Story1&#47;1_rss.png' style='border: none' />
                </a>
              </noscript>
              <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                 <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                 <param name='name' value='STORY-1_17138502722950&#47;Story1' />
                 <param name='tabs' value='no' />
                 <param name='toolbar' value='yes' />
                 <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ST&#47;STORY-1_17138502722950&#47;Story1&#47;1.png' /> <param name='animate_transition' value='yes' />
                 <param name='display_static_image' value='yes' />
                 <param name='display_spinner' value='yes' />
                 <param name='display_overlay' value='yes' />
                 <param name='display_count' value='yes' />
                 <param name='language' value='en-US' />
                </object>
              </div>             
                 <script type='text/javascript'>         
                            var divElement = document.getElementById('viz1713863684961');    
                            var vizElement = divElement.getElementsByTagName('object')[0];                  
                                vizElement.style.width='1366px';vizElement.style.height='795px';            
                           var scriptElement = document.createElement('script');                  
                               scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                   
                                vizElement.parentNode.insertBefore(scriptElement, vizElement);         
                                       </script>     
                                        </div>
    </section><!-- End Story -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
         </div>
         <div>
          <li> MANAPURAM DHANALAKSHMI</li>
           <li>MAJJI DWARAKAMAYI</li> 
           <li>MAJJI VIJAY BABU</li> 
           <li>MARIPALLI SUNIL</li> 
           <li>MATIBOINA VIJAYA KUMAR </li>
         </div>

      </div>
    </section><!-- End Team Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>
</html>